.formAddEvent {
  display: flex;
  flex-direction: column;

  margin-block-start: var(--formGap_top);
  padding-inline-start: var(--sitePadding_normal);
  padding-inline-end: var(--sitePadding_normal);
  padding-block-end: var(--gap_1);

  legend {
    margin-block-end: var(--formHeadingGap_bottom);
    text-transform: var(--text-transform_caption);
  }

  div:not(:nth-last-child(1)) {
    margin-block-end: var(--gap_1);
  }
}

/* .formAddEvent div:has(input) {
  padding-inline-start: var(--gap_1);
} */

.formAddEvent__button_secondary span {
  background-color: var(--color_background_secondary) !important;
}